/* Add your CSS Below */

.one {
}
.one__target {
  position: relative;
  left: 20px;
  bottom: 20px;
}

.two {
  position: relative;
}
.two__target {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.three {
  position: relative;
}
.three__target {
  position: fixed;
  top: inherit;
  right: 132px;
  bottom: 87px;
}
